{% extends 'base.html.twig' %}
{% block title %} Price Page {% endblock %}
{% block stylesheets %} <link href="style2.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block body %}
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <p style="color:#1b1a20"><b>>> Услуги и цены<b></p>
            <p>
                Цены могут меняться, в зависимости от сложности работ.
                Всё это оговаривается с мастером на консультации!
            </p>

            <h2 class="head"><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Тату</a></h2>
            <button class="accordion"><h3>Нанесение тату</h3></button>
            <div class="panel">
                <p><img src="img/pt.jpg" width="200px" height="250px" align="right">
                    Консультация бесплатна!
                    <br>
                    Разработка эскиза - от 1000 руб/час
                    <br>
                    Нанесение - от 4000 руб/час
                    <br>
                    Исправление - от 3000 руб/час
                    <br>
                    <br>
                    Прежде чем записаться на сеанс, нужно обязательно прийти на предварительную консультацию!
                    Стоимость определяется в зависимости от многих факторов, среди которых: мастер, сложность работы,
                    стиль татуировки и т.д.
                </p>
            </div>

            <button class="accordion"><h3>Удаление тату</h3></button>
            <div class="panel">
                <p><img src="img/rem.jpg" width="200px" height="230px" align="right">
                    до 5 см² - 350 руб/см²
                    <br>
                    5-10 см² - 280 руб/см²
                    <br>
                    15-20 см² - 230 руб/см²
                    <br>
                    от 20 см² - 180 руб/см²
                    <br>
                    <br>
                    ВАЖНЫЕ ПАРАМЕТРЫ:
                    <br>
                    Мастеру желательно знать давность нанесения татуировки и использованную для нее краску. На основании этого
                    устанавливаются настройки лазера. Правильный выбор режимов и насадок на лазерной установке повышают эффективность
                    процедуры.
                    Цены на удаление тату определяются объемом обрабатываемой области. Если забито плотно, или сделано очень
                    стойким пигментом, то нужно больше процедур, и стоимость корректируется.
                </p>
            </div>

            <h2 class="head"><a name="d" style="color: #5F617D; background: #333; padding: 8px;">Пирсинг</a></h2>
            <button class="accordion"><h3>Создание:</h3></button>
            <div class="panel">
                <p><img src="img/pg.jpg" width="150px" height="230px" align="right">
                    ухо (мочка, трагус, хеликс и т.д) от 1000 р
                    <br>
                    индастриал 1700 р
                    <br>
                    бровь 1200 р
                    <br>
                    пирсинг носа (крыло, бридж) от 1200 р
                    <br>
                    пирсинг губ от 1200 р
                    <br>
                    язык 1200 р
                    <br>
                    пупок 1200 р
                    <br>
                    сосок 1700 р
                    <br>
                    пирсинг смайл, антисмайл, уздечка под языком от 1200 р
                    <br>
                    плоскостной пиринг от 1200 р
                    <br>
                    <br>
                    замена/ установка украшений 500 р

                    <br>

                </p>
            </div>

            <button class="accordion"><h3>Восстановление:</h3></button>
            <div class="panel">
                <p>
                    60% от стоимости прокола
                    <br>
                    Цена может меняться в зависимости от личных особенностей!
                </p>
            </div>

            <button class="accordion"><h3>Микродермал:</h3></button>
            <div class="panel">
                <p><img src="img/md.jpg" width="150px" height="190px" align="right">
                    установка микродермала 2500 р
                    <br>
                    удаление микродермала 1000 р
                    <br>
                    чистка микродермала 1000 р

                </p>
            </div>
        </div>

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        </script>


    </div>


    <div class="rightcolumn">
        <div class="card">
            <h3 style="color: #5F617D; background: #333; padding: 8px;">Разделы:</h3>
            <ul>
                <li><a href="#r">Тату</a></li>
                <li><a href="#d">Пирсинг</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}