*
{
  box-sizing: border-box;
}

body {
  font-family: Georgia;
  padding: 4px;
  background: black;
}

.navbar {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 13px;
}

.navbar a:hover {
  color: black;
}

.main {
  padding: 2px;
  margin-top: 30px;
  height: 1500px;
}

.header {
	background-image: url(img/header2.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	padding: 70px;
	text-align: center;
	border-radius: 10px;
	font-family: Georgia;
	color: #FFFFFF;
	font-size: 40px;
}	

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	padding: 0 15px;
} 

#menu {
	float: left;
}
#menu li {
	display: inline-block;
	margin-right: 70px;
}

#menu a {
text-decoration: none;
color: white;
letter-spacing: 1px;
font-weight: 600;
display: block;

}

#menu a:hover {
  color: white;
  text-decoration: overline;
}

#menu li:last-child  {
	margin-right: 0;
}


.nav-toggle {
display: none;
position: relative;
float: right;
width: 40px;
height: 40px;
margin-left: 20px;
background: black;
cursor: pointer;
}
.nav-toggle span {
display: block;
position: absolute;
top: 19px;
left: 8px;
right: 8px;
height: 2px;
background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
content: "";
position: absolute;
display: block;
left: 0;
width: 100%;
height: 2px;
background: white;
}
.nav-toggle span:before {
top: -10px;
}
.nav-toggle span:after {
bottom: -10px;
}

#menu.active {
max-height: 180px;
}

.header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
}

.rightcolumn {   
  float: right;
  width: 25%;
  padding-right: 20px;
 
}

.leftcolumn {
  float: right;
  width: 75%;
  background-color: black;
}

.card {
  background-color: #ADAFBD;
  color: #eeeeee;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 5px;
  color: #bdbdbd;
  background: black;
  margin-top: 5px;
}


@media screen and (max-width: 768px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
padding: 60px 0;
  }
}

@media (max-width: 480px) {

#menu {
	top: 118px;
}

}


@media (max-width: 768px) {

.nav-toggle {
display: block;
}
header {
padding: 10px 0;
}

#menu {
max-height: 0;
background: black;
float: none;
position: absolute;
overflow: hidden;
top: 63px;
right: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 3;
}

#menu li {
display: block;
text-align: center;
margin-right: 0;
}
}
@media (max-width: 480px) {
#menu {
top: 60px;
}

}



.card a {
	text-decoration: none;
	display: inline-block;
	line-height: 27px;
	color:white;
}

.card a:after {
display: block;
content: "";
height: 1px;
width: 0%;
background-color: #5F617D;
transition: width 0.4s ease-in-out; 
}
.card a:hover:after,
.link a:focus:after {
width: 100%;
}

.head {
	text-align: center;
	color: #5F617D; 
	background: #333;
	padding: 8px;
}


.accordion {
  background-color: #333;
  color: #f2f2f2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
	color: #5F617D;
  background-color: #333;
}

.panel {
  padding: 0 18px;
  background-color: #68738B;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  background: #616161;
  color: #f2f2f2;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




.demo {
  width: 94%;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 400px;
  height: 310px;;
  margin: 2px;
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}



.demover {
  width: 90%;
  margin: auto;
}

.gridver {
  display: flex;
  flex-wrap: wrap;
}

.wrapperver {
  width: 240px;
  height: 320px;;
  margin: 2px;
  position: relative;
  overflow: hidden;
}


.forma{
	width: 100%;
	max-width: 350px;
}
.form-svyaz{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
	box-sizing: border-box;
}
.form-svyaz div{
	padding: 1px 0;
}
.bot-send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-svyaz label,.form-svyaz input{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-svyaz label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-svyaz input{
	padding: 10px 15px;
	margin-top: 10px;
	background-color: black;
	color: white;
	border: 3px #5F617D solid;
}
.form-svyaz label span{
	color: #5F617D;
}
.form-svyaz .bot-send-mail{
	padding: 15px;
	margin-top: 10px;
	background: none;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	background-color: #5F617D;
	cursor: pointer;
	border-radius: 5px;
}
.form-svyaz .bot-send-mail:hover{
	color: #5F617D;
	background-color: #ADAFBD;
}


.toTop {
position: fixed;
  background-color: black;
  opacity: 0.7;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
}
.toTop:hover{
    background: black;
	opacity: 0.9;
}

.toTop::before {
  content: "";
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}


/* Products_row page */

.products__container{
	display: flex;
	flex-flow: row wrap;
    justify-content: flex-end;
}
.imdiz-products{
    width: 860px;
    margin-right: -10px;
}
.imdiz-products_row{
    display: flex;
    flex-flow: row wrap;
}
.imdiz-product{
    list-style: none;
    width: 33.3%;
    padding: 5px; 	
}

.imdiz-product{
    list-style: none;
    padding: 5px;    
}

@media only screen and (min-width: 450px) {
	.imdiz-product {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.imdiz-product {
		width: 50%;
	}
}

@media only screen and (min-width: 1000px) {
	.imdiz-product {
		width: 33.3%;
	}
}


.imdiz-product__inner{
    padding: 5px;
    border: 1px solid #ededed;
    transition: all .3s;
}
.imdiz-product__inner:hover{
    border-color: #5F617D;
}

.imdiz-product__image-wrap{
    position: relative;
    display: block;
    text-align: center; 
	padding-top: 20px;	
}
  
.imdiz-product__info{
    text-align: center;
    padding-top: 20px;
}
.imdiz-product__name{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}
.imdiz-product__name:hover{
    color: #5F617D;
}
.imdiz-product__compare-form{
    padding-top: 5px;
}
.imdiz-product__compare-input{
    display: none;
}
.imdiz-product__compare-label{
    text-transform: uppercase;
    border-bottom: 1px dashed #000;
    cursor: pointer;
}
.imdiz-product__price{
    font-size: 22px;
    text-align: center;
    padding: 20px 0;
}
.imdiz-product__submit{
    background-color: #5F617D;
    border: 1px solid white;
    width: 168px;
    height: 41px;
    color: #fff;
    font-size: 18px;
    padding: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s;
}
.imdiz-product__submit:hover{
    background-color: #fff;
    color: #5F617D;
}


 
 .number {
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 140px;
	border: 1px solid #ddd;
	display: block;
    margin: 0 auto;
	border: 1px solid white;
	color: #fff;
	margin: 0 auto;
	transition: all .3s;
}
.number-minus, .number-plus {
	position: absolute;
	top: 0;
	width: 40px;
	height: 32px;
	line-height: 32px;
	display: block;
	background: #5F617D;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: arial;
	color: #3e1e02;
	text-decoration: none;
}
.number-minus {
	left: 0;
	border-right: 1px solid #ddd;
}
.number-plus {
	right: 0;
	border-left: 1px solid #ddd;
}
.number-minus:hover, .number-plus:hover {
	background: #fffcfb;
	color:#5F617D;
}
.number-minus:active, .number-plus:active {
	background: #e8e4e2;
	color:#5F617D;
}
.number-text{
	display: inline-block;
	font-size: 14px;
	color: #000;
	line-height: 32px;
	height: 32px;
	padding: 0;
	margin: 0 0 0 42px;
	background: #fff;
	outline: none;
	border: none;
	width: 57px;
	text-align: center;
}