*
{
  box-sizing: border-box;
}

body {
  font-family: Georgia;
  padding: 4px;
  background: black;
}

.navbar {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 13px;
}

.navbar a:hover {
  
  color: black;
}

.main {
  padding: 2px;
  margin-top: 30px;
  height: 1500px;
}

.header {
	background-image: url(img/header1.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	padding: 70px;
	text-align: center;
	border-radius: 10px;
	font-family: Georgia;
	color: #FFFFFF;
	font-size: 40px;
}	

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	padding: 0 15px;
} 

#menu {
	float: left;
}
#menu li {
	display: inline-block;
	margin-right: 70px;
}

#menu a {
text-decoration: none;
color: white;
letter-spacing: 1px;
font-weight: 600;
line-height: 2px;

}

#menu a:hover {
	display: inline-block;
  color: white;
  text-decoration: overline;
}

#menu li:last-child  {
	margin-right: 0;
}



.nav-toggle {
display: none;
position: relative;
float: right;
width: 40px;
height: 40px;
margin-left: 20px;
background: black;
cursor: pointer;
}
.nav-toggle span {
display: block;
position: absolute;
top: 19px;
left: 8px;
right: 8px;
height: 2px;
background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
content: "";
position: absolute;
display: block;
left: 0;
width: 100%;
height: 2px;
background: white;
}
.nav-toggle span:before {
top: -10px;
}
.nav-toggle span:after {
bottom: -10px;
}

#menu.active {
max-height: 180px;
}

.header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: black;
  padding-left: 20px;
}

.card {
  background-color: #ADAFBD;
  color: #eeeeee;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 5px;
  color: #bdbdbd;
  background: black;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
padding: 60px 0;
  }
}

@media (max-width: 480px) {

#menu {
	top: 118px;
}

}


@media (max-width: 768px) {

.nav-toggle {
display: block;
}
header {
padding: 10px 0;
}

#menu {
max-height: 0;
background: black;
float: none;
position: absolute;
overflow: hidden;
top: 63px;
right: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 3;
}

#menu li {
display: block;
text-align: center;
margin-right: 0;
}
}

@media (max-width: 480px) {
#menu {
top: 60px;
}

}


.card a {
	text-decoration: none;
	display: inline-block;
	line-height: 27px;
	color:white;
}
.card a:after {
	display: block;
	content: "";
	height: 1px;
	width: 0%;
	background-color: #5F617D;
	transition: width 0.4s ease-in-out; 
}
.card a:hover:after,
.link a:focus:after {
	width: 100%;
}


.head {
	text-align: center;
	color: #5F617D; 
	background: #333;
	padding: 8px;
	
}


.accordion {
  background-color: #ADAFBD;
  color: #f2f2f2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
	color: #5F617D;
  background-color: #333;
}

.panel {
  padding: 0 18px;
  background-color: #68738B;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: center;}

.slideshow-container {
  max-width: 500px;
 
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.demo {
  width: 94%;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 400px;
  height: 480px;
  margin: 2px;
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -30%;
  left: -10%;
  right: -10%;
  bottom: -30%;
  margin: auto;
}


/*Form*/
.forma{
	width: 100%;
	max-width: 350px;
}
.form-svyaz{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
	box-sizing: border-box;
}
.form-svyaz div{
	padding: 1px 0;
}
.bot-send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-svyaz label,.form-svyaz input{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-svyaz label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-svyaz input{
	padding: 10px 15px;
	margin-top: 10px;
	background-color: black;
	color: white;
	border: 3px #5F617D solid;
}
.form-svyaz label span{
	color: #5F617D;
}
.form-svyaz .bot-send-mail{
	padding: 15px;
	margin-top: 10px;
	background: none;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	background-color: #5F617D;
	cursor: pointer;
	border-radius: 5px;
}
.form-svyaz .bot-send-mail:hover{
	color: #5F617D;
	background-color: #ADAFBD;
}



.toTop {
position: fixed;
  background-color: black;
  opacity: 0.7;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
}
.toTop:hover{
    background: black;
	opacity: 0.9;
}

.toTop::before {
  content: "";
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

