{% extends 'base.html.twig' %}
{% block title %} Main Page {% endblock %}
{% block stylesheets %} <link href="style.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block body %}
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2 class="head">ДОБРО ПОЖАЛОВАТЬ</h2>
                <p><b>
                        Профессиональный тату-салон “InkHeart” находится в исторической части города и весьма впечатляющем месте.
                        Такое расположение вдохновляет наших тату мастеров на искусную работу, а у клиентов – вызывает потрясающие идеи для лучших тату.
                        Салон татуировки “InkHeart” – это место, где трансформируются и расширяются представление о красоте и эстетике, где любовь к искусству,
                        жажда познания и эксперимента порождает нечто совершенное и уникальное. Не веришь? Приходи к нам, докажем каждое слово на деле!
                        Мы не стоим на месте, наши мастера постоянно развиваются, каждый – в своем направлении. И делают это с неиссякаемой энергией и азартом,
                        все потому, что каждый из них занимается любимым делом!</p>

                <h3>Некоторые наши работы ↓</h3>
                <h4>Тату</h4>

                <div class="demo">
                    <div class="grid">

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/t3.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/t4.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/mt2.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/t5.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/t6.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/t8.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/mt3.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/mt4.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/t9.jpg">
                        </picture>

                        <picture class="wrapper">
                            <source media="(min-width: 800px)">
                            <source media="(max-width: 799px)">
                            <img class="img" src="img/mt5.jpg">
                        </picture>

                    </div>
                </div>

                <br>
                <h4>Пирсинг</h4>

                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="img/p2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p14.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p3.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p4.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p5.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p13.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p6.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p11.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p7.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p8.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p0.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/p10.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/p12.jpg" style="width:100%">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>

                </div>



                <br>

                <script>
                    var slideIndex = 1;
                    showSlides(slideIndex);

                    function plusSlides(n) {
                        showSlides(slideIndex += n);
                    }

                    function currentSlide(n) {
                        showSlides(slideIndex = n);
                    }

                    function showSlides(n) {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        if (n > slides.length) {slideIndex = 1}
                        if (n < 1) {slideIndex = slides.length}
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        slides[slideIndex-1].style.display = "block";
                        dots[slideIndex-1].className += " active";
                    }
                </script>


                <br>


            </div>

        </div>


        <div class="rightcolumn">
            <div class="card">
                <h4 class="head">Привет!</h4>
                <img style="float:right" src="img/bc.jpg" height="150px" width="120px">
                <p style="font-size: 14px">Я основатель студии InkHeart - Савин Марк.
                    <br>
                    Однажды попробовав себя в тату-ремесле, я понял, что реализую себя именно в нём.
                    Мой путь обучения привил мне терпение на много часов кропотливой работы и любовь к моему делу, много часов практики — взрастило во
                    мне становление своих принципов и методик, большой опыт — формирование своей команды.

                    <br>
                    Добро пожаловать на сайт нашей студии!
                </p>

            </div>

            <div class="card">
                <h4 class="head">Полезные ссылки</h4>
                <a href="https://www.youtube.com/c/NBKTattooschannel">Для мастеров(YT)</a>
                <br>
                <a href="https://www.youtube.com/channel/UCccEfaAKz9e5ZjNJMxE_oVA/videos">Интересно о тату (YT)</a>
                <br>
                <a href="https://instagram.com/elenabaskytattoo/">Полезно(Inst.)</a>
            </div>

        </div>
    </div>

{% endblock %}