{% extends 'base.html.twig' %}
{% block title %} Shop {% endblock %}
{% block stylesheets %} <link href="style3.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block body %}
    <div class="row">
        <div class="leftcolumn">
            <div class="card">


                <div class="container products__container">
                    <ul class="imdiz-products imdiz-products_row">
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr1.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Накрутка "Triangle" из титана 1.2х4мм</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">960</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr2.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Кольцо-кликер из титана 8мм</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">4 370</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr3.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Штанга с прозрачным кристаллом (4лапки)</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">750</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr4.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Цепочка для пирсинга 33мм цвет серебро</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">1 290</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr5.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Штанга с прозрачным кристаллом (cеребро)</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">1 880</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr6.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Штанга для индастриала с веточкой 38мм</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">1 800</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr7.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Накрутка с розовым опалом (серебро)</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">750</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                        <li class="imdiz-product">
                            <div class="imdiz-product__inner">
                                <div class="imdiz-product__image-wrap">
                                    <img src="img/ukr8.jpg" alt="Изображение продукта" width="180px" height="180px">
                                </div>
                                <div class="imdiz-product__info">
                                    <a href="/" class="imdiz-product__name">Кольцо-кликер из титана Twilight 10 мм</a>

                                    <p class="imdiz-product__price">
                                        <span class="imdiz-product__cost">2 740</span>
                                        <span class="imdiz-product__currency">&#8381;</span>
                                    </p>
                                </div>
                                <div class="number" data-step="1" data-min="1" data-max="100">
                                    <input class="number-text" type="text" name="count" value="1">
                                    <a href="#" class="number-minus">−</a>
                                    <a href="#" class="number-plus">+</a>
                                </div>
                                <form class="imdiz-product__buy-form">
                                    <input type="hidden">
                                    <button type="submit" class="imdiz-product__submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> КУПИТЬ</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>


        <div class="rightcolumn">
            <div class="card">
                <h3 style="color: #5F617D; background: #333; padding: 8px;">Задавайте вопросы!</h3>
                <p>
                    <b>Если у Вас возникнут вопросы по поводу характеристик украшений, пишите их в форму. Будем рады ответить!</b>
                </p>
            </div>

            <div class="card">
                <h3 style="color: #5F617D; background: #333; padding: 8px;">Оформление заказа</h3>
                <p>
                    <b>После оформления заказа администратор свяжется с Вами для подтверждения и уточнения деталей. Для Вас доступны несколько способов получения заказа:
                        лично, придя в студию, почтой или службой доставки.</b>
                </p>
            </div>

        </div>
    </div>
{% endblock %}