{% extends 'base.html.twig' %}
{% block title %} News Page {% endblock %}
{% block stylesheets %} <link href="style2.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block body %}
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <p style="color:#1b1a20"><b>>> Наши новости</b></p>

            <h3 class="head"><a name="m" style="color: #5F617D; background: #333; padding: 8px;">Мы переехали на новый адрес!</a></h3>
            <p>
                <b>Наша студия расширилась! Наша большая команда насчитывает уже 13 человек и в старой студии стало совсем тесно,
                    поэтому рады Вам сообщить о том, что 1 сентября 2022 года студия InkHeart переехала в новое, просторное помещение
                    в исторической части города! Уже 3 сентября состоялось техническое открытие и наши стены приняли своих первых
                    клиентов.
                    <br>
                    Это был трудный, но показательный и продуктивный период для мастеров, руководства и администраторов студии. И
                    сейчас мы готовы показать Вам то, над чем так долго работали и к чему все это время стремились — нашу гордость,
                    нашу новую студию!
                    <br>
                    Приходи и вырази себя в InkHeart.

            <div class="demo">
                <div class="grid">

                    <picture class="wrapper">
                        <source media="(min-width: 800px)">
                        <source media="(max-width: 799px)">
                        <img class="img" src="img/ts1.jpg" alt="studio1">
                    </picture>

                    <picture class="wrapper">
                        <source media="(min-width: 800px)">
                        <source media="(max-width: 799px)">
                        <img class="img" src="img/ts2.jpg" alt="studio2">
                    </picture>

                    <picture class="wrapper">
                        <source media="(min-width: 800px)">
                        <source media="(max-width: 799px)">
                        <img class="img" src="img/ts3.jpg" alt="studio3">
                    </picture>

                    <picture class="wrapper">
                        <source media="(min-width: 800px)">
                        <source media="(max-width: 799px)">
                        <img class="img" src="img/ts4.jpg" alt="studio4">
                    </picture>


                </div>
            </div>

            </p>
            <h3 class="head"></h3>

            <h3 class="head"><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Halloween в InkHeart!</a></h3>
            <p>
                Акция в честь Хэллоуина: тату размером 31✕10 (10✕31) со скидкой 15% от стоимости. Эскиз татуировки должен быть
                разработан мастеров НАШЕЙ студии. Допускаются небольшие неточности размера. Акция дейстсвует с 31 октября по 6 ноября.
                <br>
            <p style="text-align: center;"><img src="img/hh.jpg" height="300px" width="450px" alt="halloween"></p>
            Счастливого Хэллоуина! Treak or treat!
            </p>
            <h3 class="head"></h3>

            <h3 class="head"><a name="n" style="color: #5F617D; background: #333; padding: 8px;">Пополнение в команде мастеров пирсинга!</a></h3>
            <p>
                В честь этого целый месяц любой прокол у Насти со скидкой 10%!
                <br>
            <p style="text-align: center;"><img src="img/nm.jpg" height="330px" width="450px" alt="master"></p>
            Обещаем, что от нас вы уйдете в УЖАСНО хорошем настроении!
            </p>
        </div>
    </div>

    <div class="rightcolumn">
        <div class="card">
            <h3 style="color: #5F617D; background: #333; padding: 8px;">Разделы:</h3>
            <ul>
                <li><a href="#m">Переезд</a></li>
                <li><a href="#r">Halloween Sale!</a></li>
                <li><a href="#n">Новый мастер!</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}