{% extends 'base.html.twig' %}
{% block title %} News Page {% endblock %}
{% block stylesheets %} <link href="style2.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block body %}
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <p style="color:#1b1a20"><b>>> Мастера</b></p>
                <h2 class="head">Команда студии InkHeart рада приветствовать Вас!</h2>
                <p>
                    <b>Мы – сплочённый коллектив, профессионалов, увлечённых своим делом. Искусство татуировки и пирсинга для нас больше,
                        чем просто профессия.
                        Это наш стиль, образ жизни, предмет любви, источник безграничного вдохновения!
                        <br>
                        Двери нашей студии открыты для Вас с 15 декабря 2012 года.
                        <br>
                        Уже почти 10 лет мы помогаем людям раскрыть в себе что-то новое, и выразить себя! Рассказать о своих чувствах и убеждениях, заявить о
                        себе, о своём образе жизни и увлечениях. Или просто украсить свои будни яркостью!
                        Друзья, каждый из вас особенный, по-своему прекрасный и неповторимый. Мы готовы сделать для Вас идивидуальный эскиз,
                        который будет отражать Ваше внутреннее "Я".
                <p style="text-align: center;"><img src="img/tit.jpg" height="300px" width="340px"></p>
                У нас всегда можно получить бесплатную консультацию мастера.
                <br>
                У вас есть проект?
                Давайте обсудим его. Продумаем. Сделаем!
                <br>
                Для Вас мы работаем без выходных.
                Ждём в гости!
                </p>


                <h2 class="head">Мастера тату</h2>

                <button class="accordion"><h2><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Назар Абрамов</a></h2></button>
                <div class="panel">
                    <br>
                    <div class="demover">
                        <div class="gridver">
                            <p style="font-size: 17px">
                                <img style="float:left" src="img/mas1.jpg" height="260px" width="370px">
                                <br>
                                Назар занимается татуировкой уже 11 лет. Самый опытный мастер нашей студии, а также номинант и призер многих тату-конвеций,
                                участник и призер российских и зарубежных тату-фестивалей.
                                Предпочтения к стилям: олд и нью скул, цветной и черно-белый реализм, япония, графика.
                                Назар с радостью поможет реализовать от маленькой до большой, от скромной до сумасшедшей идеи Вашей татуировки!
                            </p>

                            <br>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr1.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tna2.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr2.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/t4.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr4.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr3.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/t5.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/t6.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr5.jpg">
                            </picture>

                        </div>
                    </div>
                </div>

                <button class="accordion"><h2><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Арсения Громова</a></h2></button>
                <div class="panel">
                    <br>
                    <div class="demover">
                        <div class="gridver">
                            <p style="font-size: 17px">
                                <img style="float:left" src="img/mas2.jpg" height="260px" width="370px">
                                <br>
                                Арсения занимается татуировкой более 8 лет.
                                Работает в разных стилях, больше всего любит графику и маленькие аккуратные работы, делает мини-тату и даже надписи
                                ей по душе.
                            </p>

                            <br>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/t2.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/t9.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/mt3.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/t8.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr6.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr7.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr8.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr9.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tr10.jpg">
                            </picture>

                        </div>
                    </div>
                </div>

                <button class="accordion"><h2><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Ян Ли</a></h2></button>
                <div class="panel">
                    <br>
                    <div class="demover">
                        <div class="gridver">
                            <p style="font-size: 17px">
                                <img style="float:left" src="img/mas3.jpg" height="260px" width="370px">
                                <br>
                                Ян занимается татуировкой более 5 лет. С интересом работает во всех стилях, но предпочтение отдает реализму и нью скулу.
                                Имеет художественное образование. К каждому клиенту старается искать индивидуальный подход.
                            </p>

                            <br>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tya1.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tya2.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tya3.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tya4.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tya5.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tya6.jpg">
                            </picture>

                        </div>
                    </div>
                </div>


                <button class="accordion"><h2><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Натан Романов</a></h2></button>
                <div class="panel">
                    <br>
                    <div class="demover">
                        <div class="gridver">
                            <p style="font-size: 17px">
                                <img style="float:left" src="img/mas4.jpg" height="260px" width="370px">
                                <br>
                                Опыт работы более 9 лет. Интересны все течения и направления в татуировке, но по душе ближе dark art / horror /
                                графика / oрнаментал / sketch style / old & new school / black & grey.
                                Натан занимается разработкой индивидуальных эскизов в любых стилях.
                            </p>

                            <br>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tn1.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tn2.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tn3.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tn4.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tn5.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/tn6.jpg">
                            </picture>

                        </div>
                    </div>
                </div>


                <h2 class="head">Мастера пирсинга</h2>

                <button class="accordion"><h2><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Лев Янг</a></h2></button>
                <div class="panel">
                    <br>
                    <div class="demover">
                        <div class="gridver">
                            <p style="font-size: 17px">
                                <img style="float:left" src="img/mas5.jpg" height="260px" width="370px">
                                <br>
                                Мастер по пирсингу и микродермалам с медицинским образованием с опытом более 10 лет. Участник тату-фестивалей в Москве
                                и Санкт-Петербурге, Ростове-на-Дону, Архангельске, Новосибирске, Казани, в Томске в составе жюри, в Боди-Арт фестивале
                                в Уфе.
                            </p>

                            <br>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p2.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p3.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p14.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p5.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p7.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p6.jpg">
                            </picture>

                        </div>
                    </div>
                </div>

                <button class="accordion"><h2><a name="r" style="color: #5F617D; background: #333; padding: 8px;">Анастасия Лазарева</a></h2></button>
                <div class="panel">
                    <br>
                    <div class="demover">
                        <div class="gridver">
                            <p style="font-size: 17px">
                                <img style="float:left" src="img/nm.jpg" height="260px" width="370px">
                                <br>
                                11 лет успешной медицинской практики, из которых 6 лет профессионально занимается всеми видами пирсинга, в том числе
                                интимным (любой сложности), установкой и удалением микродермалов, а так же восстановлением мочек после растяжки тоннелей
                                или травм. Также Анастасия может провести профессиональную консультацию по разным видам бодимодификаций.
                            </p>

                            <br>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p0.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p7.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p10.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p12.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p13.jpg">
                            </picture>

                            <picture class="wrapperver">
                                <source media="(min-width: 800px)">
                                <source media="(max-width: 799px)">
                                <img class="img" src="img/p2.jpg">
                            </picture>

                        </div>
                    </div>
                </div>


                <script>
                    var acc = document.getElementsByClassName("accordion");
                    var i;

                    for (i = 0; i < acc.length; i++) {
                        acc[i].addEventListener("click", function() {
                            this.classList.toggle("active");
                            var panel = this.nextElementSibling;
                            if (panel.style.maxHeight) {
                                panel.style.maxHeight = null;
                            } else {
                                panel.style.maxHeight = panel.scrollHeight + "px";
                            }
                        });
                    }
                </script>

                <script>
                    var slideIndex = 1;
                    showSlides(slideIndex);

                    function plusSlides(n) {
                        showSlides(slideIndex += n);
                    }

                    function currentSlide(n) {
                        showSlides(slideIndex = n);
                    }

                    function showSlides(n) {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        if (n > slides.length) {slideIndex = 1}
                        if (n < 1) {slideIndex = slides.length}
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        slides[slideIndex-1].style.display = "block";
                        dots[slideIndex-1].className += " active";
                    }
                </script>


            </div>
        </div>


        <div class="rightcolumn">
            <div class="card">
                <h3 style="color: #5F617D; background: #333; padding: 8px;">Разделы:</h3>
                <ul>
                    <li><a href="#r">Наши мастера</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}