<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="Shortcut Icon" href="img/icon.ico">
    <title>{% block title %}InkHeart{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=OrhLdgqKJOttcqXr9Q0kN5ymVW9mTq-3G0S8aL8zK-pVytXVgNEpoGcghROHvOKfHedVgUUl3PKqh8mDeLWUmtIdvtKNx47faysg6zDjHXM" charset="UTF-8"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="js/jquery.maskedinput.js"></script>
        <script src="js/script.js"></script>
    {% endblock %}

</head>
<body>

<header>
    <nav class="container">
        <div class="nav-toggle"><span></span></div>
        <ul id="menu">
            <li><a href={{ url("main_page") }}>Главная</a></li>
            <li><a href={{ url("news") }}>Новости</a></li>
            <li><a href={{ url("info") }}>Мастера</a></li>
            <li><a href={{ url("price_page") }}>Услуги и цены</a></li>
            <li><a href={{ url("shop") }}>Украшения</a></li>
        </ul>
    </nav>
    <script>
        $('.nav-toggle').on('click', function(){
            $('#menu').toggleClass('active');
        });
    </script>
</header>
<div class="header">
    <p><b>_____________</p>
    <p>Студия татуировки и пирсинга</p>
    <h1>InkHeart</b></h1>
</div>

{% block body %}{% endblock %}

<div class="footer">
    <table >
        <tr align="left">
            <th><img src="img/logoniz.png" height="70px" width="70px" alt="logo InkHeart">

                <br>г. Истра
                <br>ул. Домодевоская 48
                <br>8 (496) 310 55-66
                <br>8 (987) 654-32-10
                <br>
            </th>
            <th>
                <ul id="menu">
                    <li><a href="#">Главная</a></li>
                    <br>
                    <br>
                    <li><a href="2newsRU.html">Новости</a></li>
                    <br>
                    <br>
                    <li><a href="3aboutusRU.html">Мастера</a></li>
                    <br>
                    <br>
                    <li><a href="4priceRU.html">Услуги и цены</a></li>
                    <br>
                    <br>
                    <li><a href="5shop.html">Украшения</a></li>
                </ul>
            </th>

            <th>
                <div class="forma">
                    <div class="form-svyaz">
                        {{ form_start(client_form) }}
                        <div>
                            <label>Остались вопросы? Напишите нам!</label>
                            {{ form_errors(client_form.fio) }}
                            {{ form_widget(client_form.fio) }}
                        </div>
                        <div>
                            {{ form_errors(client_form.phone) }}
                            {{ form_widget(client_form.phone) }}
                        </div>
                        <div>
                            {{ form_errors(client_form.email) }}
                            {{ form_widget(client_form.email) }}
                        </div>
                        <button type="submit" class="bot-send-mail">Отправить</button>

                        {{ form_end(client_form) }}
                    </div>
                </div>

            </th>
        </tr>
    </table>
</div>

<div> class="toTop" </div>

<script type="text/javascript">

    $(function() {

        $(window).scroll(function() {

            if($(this).scrollTop() != 0) {

                $('.toTop').fadeIn();

            } else {

                $('.toTop').fadeOut();

            }

        });

        $('.toTop').click(function() {

            $('body,html').animate({scrollTop:0},800);

        });

    });

</script>

</body>

</html>

